body {
    margin: auto;
}

/* Round border of image. */
img {
    border-radius: 2em;
}

.project-summary {
    text-indent: 20px;
}

/* Place text bottom picture */
.short-description {
    margin-top: 10px;
}

/* Subtitle style. */
.subtitle {
    color: grey;
}